<div class="container">
<div class="row g-0 position-relative">
  
  <div class="col-12 col-md-7 p-4 ps-md-0">
    <p class="mt-0" style="font-size: 30px;"><strong>The First Heading</strong><span class="text-secondary"> Will Catch Your Eye</span></p>
    <p>
      It immediately grabs your attention and sets the tone for everything that follows. A well-crafted headline is the entry point to your message.

When readers see a strong, clear heading, they feel confident that the content is worth their time. It helps guide them, making the information easier to explore and remember.
    </p>
  </div>

  <!-- luego la imagen -->
  <div class="col-12 col-md-5 mb-md-0 p-md-4 mt-4">
    <img src="https://img.freepik.com/vector-premium/perfil-avatar-hombre-icono-redondo_24640-14044.jpg" class="rounded-circle ms-5" width="30%" alt="...">
  </div>
</div>
</div>

