<!-- your html code here -->
<ul class="nav bg-dark text-light w-100">
    <li class="nav-item">
        <a class="nav-link disabled" aria-current="page" href="#"><h5>Start Bootstrap</h5></a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#">About</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#">Services</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" aria-disabled="true">Portfolio</a>
    </li>
     <li class="nav-item">
        <a class="nav-link disabled" aria-disabled="true">Contact</a>
    </li>
</ul>