<!-- your html code here -->
<section class="container my-5 bg-white p-4 rounded shadow">
  <h2 class="fw-bold">Porftolio</h2>
  <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna...</p>

  <div class="row">
    <div class="col-md-4">
      <img src="https://picsum.photos/700/400" class="img-fluid mb-3" alt="Project image">
      <h5 class="text-primary">Project Name</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio...</p>
    </div>
    <div class="col-md-4">
      <img src="https://picsum.photos/700/400" class="img-fluid mb-3" alt="Project image">
      <h5 class="text-primary">Project Name</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio...</p>
    </div>
    <div class="col-md-4">
      <img src="https://picsum.photos/700/400" class="img-fluid mb-3" alt="Project image">
      <h5 class="text-primary">Project Name</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio hola, viderra, nam...</p>
    </div>
  </div>
</section>
